
<app-barradenavegacion></app-barradenavegacion>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-10">

<table class="table">
  <tr >
    <td>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"
              (mouseover)="mostrarDescripcion1 = true"
              (mouseout)="mostrarDescripcion1 = false"
          >mascarilla capilar ancestral la pocion 350 ml</h5>
          <h4> $ {{ precioFormateado1 }}</h4>
          <p class="card-text" *ngIf="mostrarDescripcion1">
            La crema Ancestral La Poción es una mascarilla nutritiva de fórmula magistral que nutre, protege y repara la estructura capilar. Su fórmula está diseñada para todo tipo de cabello, úsalo como tratamiento nutritivo repolarizador.
          </p>
          <a href="#" class="btn btn-primary">Añadir al carrito</a>
        </div>
      </div>
    </td>
    <td>
      <div class="card" style="width: 18rem;">
        <img src="assets/img/2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"
              (mouseover)="mostrarDescripcion2 = true"
              (mouseout)="mostrarDescripcion2 = false"
          >crema para peinar dual control la pocion 440 ml</h5>
          <h4> $ {{ precioFormateado2 }}</h4>
          <p class="card-text" *ngIf="mostrarDescripcion2">
            La crema para peinar La Poción cuenta con una fórmula doble propósito: control y nutrición del cabello. Está dirigido a cabellos con frizz, poco movimiento o secos. Es ideal para aportar hidratación, brillo y suavidad a los peinados cotidianos.
          </p>
          <a href="#" class="btn btn-primary">Añadir al carrito</a>
        </div>
      </div>
    </td>
  </tr>
  <tr >

    <td >
      <div class="card" style="width: 18rem;">
        <img src="assets/img/3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"
              (mouseover)="mostrarDescripcion3 = true"
              (mouseout)="mostrarDescripcion3 = false"
          >shampoo cannabis argan la receta 500 ml </h5>
          <h4> $ {{ precioFormateado3 }}</h4>
          <p class="card-text" *ngIf="mostrarDescripcion3">
            Es un shampoo cosmético con propiedades fortalecedoras y anticaspa. Su fórmula con extracto de cannabis y argán aporta la humectación necesaria para equilibrar el Ph del cuero cabelludo. Úsalo como complemento de tu rutina de higiene personal para prevenir la aparición de caspa, disminuir la caída del cabello y estimular crecimiento del mismo.
          </p>
          <a href="#" class="btn btn-primary">Añadir al carrito</a>
        </div>
      </div>
    </td>
    <td >
      <div class="card" style="width: 18rem;">
        <img src="assets/img/4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"
              (mouseover)="mostrarDescripcion4 = true"
              (mouseout)="mostrarDescripcion4 = false"
          >aceite reparador puntas cannabis la receta 30 ml </h5>
          <h4> $ {{ precioFormateado4 }}</h4>
          <p class="card-text" *ngIf="mostrarDescripcion4">
            El aceite reparador de puntas de cannabis La Receta CBD es un óleo ligero de consistencia no grasa. Sella las cutículas, proporciona brillo, vitalidad, protección contra la resequedad y control de frizz. Úsalo en todo momento, es ideal para todo tipo de cabello. No interfiere con otros tratamientos capilares como coloración o alisados.
          </p>
          <a href="#" class="btn btn-primary">Añadir al carrito</a>
        </div>
      </div>
    </td>
  </tr>
</table>
</div>
</div>
</div>


<app-piedepagina></app-piedepagina>
