
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <!-- cortes.component.html -->
<app-barradenavegacion></app-barradenavegacion>

<div class="container-fluid justify-content-center align-items-center mt-5 flex-column ml-5">
  <div class="row ml-5">

    <div class="col-7 ml-5">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/igora1.JPG" class="d-block w-100" height="500px" width="600px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/igora2.JPG" class="d-block w-100" height="500px" width="600px" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class='col-4 '>
      <iframe width="600" height="500" src="https://www.youtube.com/embed/HIUcUliOwRU"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    </div>
  </div>
</div>






<div class="d-flex justify-content-center align-items-center mt-5 ">
  <img src="assets/img/Anímate!.png" width="35%" height="50%" alt="">
  <button type="button" class="btn btn-info" style="font-size: 4rem;"[routerLink]="['/listar-tinte']"> Catalogo </button>
</div>


<br>
<br>
<app-piedepagina></app-piedepagina>


</body>
</html>
