


body{
  background-color: #800080;


}
img{
  margin-left: -20%;
}

img:hover{
  transform : scale(1);
		-moz-transform : scale(2); /* Firefox */
		-webkit-transform : scale(2);

}
.fas{

  font-size: 1.2rem;
  margin: 0 15px;
  cursor: pointer;
  transition: all .5;

}

.fa-pencil-alt:hover{
  color: #145bf5 !important;
}

.fa-trash-alt:hover{
  color: #ff0000 !important;
}
