@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
body {
  font-family: 'Ephesis', cursive;
  font-size: 2rem;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.h1 {
  color: #990699 !important;
  margin-left: 2%;
}

.imagen1, .imagen2, .imagen3 {
  height: 5%;
  transition: all 500ms ease;
}

.imagen1:hover {
  box-shadow: 0 0 40px #20e2d7, 0 0 40px #20e2d7, 0 0 5px #20e2d7;
  transition: all 500ms ease;
  width: 30%;
  padding-right: 2%;
  position: relative;
  transform: scale(1.1);
}

.imagen2:hover {
  box-shadow: 0 0 10px #990699, 0 0 20px #990699, 0 0 20px #990699;
  transition: all 600ms ease;
  width: 32%;
  position: relative;
  transform: scale(1.1);
}

.imagen3:hover {
  box-shadow: 0 0 10px #d088ff, 0 0 20px #d088ff, 0 0 20px #d088ff;
  transition: all 600ms ease;
  position: relative;
  width: 31%;
  transform: scale(1.1);
}

.texto {
  position: absolute;
  opacity: 0;
}

.texto:hover {
  background-color: rgba(0, 255, 255, 0.5);
  opacity: 1;
  transition: 500ms;
}

.texto2 {
  position: absolute;
  opacity: 0;
}

.texto2:hover {
  background-color: rgba(153, 6, 153, 0.5);
  opacity: 1;
  transition: 500ms;
  width: 60%;
  color: rgb(235, 233, 233);
}

.texto3 {
  position: absolute;
  opacity: 0;
}

.texto3:hover {
  background-color: rgba(208, 136, 255, 0.5);
  opacity: 1;
  transition: 500ms;
  width: 60%;
  color: rgb(3, 3, 3);
}

