<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"> <img class="foto" src="assets/img/logo_styles.png"  alt=""> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="p-3 mt-5  nav-item">
            <a class="nav-link "  [routerLink]="['/peinados']">Peinados</a>
          </li>
          <li class="p-3 mt-5 nav-item">
            <a class="nav-link" [routerLink]="['/cortes']">cortes</a>
          </li>
          <li class="p-3 mt-5 nav-item">
            <a class="nav-link" [routerLink]="['/tintes']">Tintes</a>
          </li>
          <li class="p-3 mt-5 nav-item">
            <a class="nav-link" [routerLink]="['/cuidados']">Cuidados</a>
          </li>
          <li class="p-3 mt-5 nav-item">
            <a class="nav-link" [routerLink]="['/maquillaje']">Maquillaje</a>
          </li>
        </ul>

        <!-- <ul class="nav justify-content-end">
          <nav class="nav">
            <a class="p-3 mt-5 nav-link" href="#">Link</a>
            <a class="p-3 mt-5 nav-link" href="#">Link</a>
          </nav>
        </ul> -->

      </div>
    </div>
  </nav>




<div class="container d-flex justify-content-center align-items-center flex-column mt-5 ">

    <div class="h1 fw-bold" style="font-size: 3rem;"> Para Un Cambio De Look </div>
  <p> Dejanos conocer tu esencia y asi saber que estilo situamos en tu nueva version a la que deseas llegar <br>
      te presentamos nuestros 3 looks mas solicitados </p>

    <div class="row  ">
      <div class=" imagen1 col-4 d-flex justify-content-center align-items-center flex-column " >
        <img src="assets/img/corto.jpg" alt="">
        <div class="texto text-center"><p> sencillo,rebelde pero elegante</p>
        <p>  Corte Corto </p></div>
      </div>

      <div class="imagen2 col-4 d-flex justify-content-center align-items-center flex-column ">
        <img src="assets/img/mediano.jpg" alt="">
        <div class="texto2 text-center"><p> con clase y juvenil</p>
        <p>  Corte Mediano </p></div>
      </div>

      <div class="imagen3 col-4 d-flex justify-content-center align-items-center flex-column ">
        <img src="assets/img/puntas.jpg" alt="">
        <div class="texto3 text-center"><p> cuidado y renovacion</p>
        <p>  Corte Puntas </p></div>
      </div>



    </div>


</div>






<footer >

  <div class="info2">
      <p class=" text-white">Siguenos en:<p>
  </div>


   <div class="row col-12">
      <div class="col-6 offset-4 icon5 bg-azul mt-4 p-5 footer-pagina">
      <a href="https://es-la.facebook.com/nike/"><img src="assets/img/whatsapp.png" alt=""></a>
      <a href="https://twitter.com/adidasco?lang=es"><img src="asset/img/twitter.png" alt=""></a>
      <a href="https://es-la.facebook.com/nike/"><img src="assets/img/facebook.png" alt=""></a>
      <a href="https://twitter.com/adidasco?lang=es"><img src="assets/img/youtube.png" alt=""></a>
      <a href="https://www.instagram.com/reebokcolombia/?hl=es-la"><img src="assets/img/instagram.png" alt=""></a>
      <a href="videos.html"><img src="img/youtube.png" alt=""></a>
    </div>
  </div>
  </footer>






</body>
</html>
