<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<!-- cortes.component.html -->
<app-barradenavegacion></app-barradenavegacion>



<div class="container d-flex justify-content-center align-items-center flex-column mt-5 ">

    <div class="h1 fw-bold" style="font-size: 3rem;"> Para Un Cambio De Look </div>
  <p> Dejanos conocer tu esencia y asi saber que estilo situamos en tu nueva version a la que deseas llegar <br>
      te presentamos nuestros 3 looks mas solicitados </p>

    <div class="row  ">
      <div class=" imagen1 col-4 d-flex justify-content-center align-items-center flex-column " >
        <img src="assets/img/corto.jpg" alt="">
        <div class="texto text-center"><p> sencillo,rebelde pero elegante</p>
        <p>  Corte Corto </p></div>
      </div>

      <div class="imagen2 col-4 d-flex justify-content-center align-items-center flex-column ">
        <img src="assets/img/mediano.jpg" alt="">
        <div class="texto2 text-center"><p> con clase y juvenil</p>
        <p>  Corte Mediano </p></div>
      </div>

      <div class="imagen3 col-4 d-flex justify-content-center align-items-center flex-column ">
        <img src="assets/img/puntas.jpg" alt="">
        <div class="texto3 text-center"><p> cuidado y renovacion</p>
        <p>  Corte Puntas </p></div>
      </div>



    </div>


</div>



<br>
<br>


<app-piedepagina></app-piedepagina>






</body>
</html>
