<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"> <img class="foto" src="assets/img/logo_styles.png"  alt=""> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="p-3 mt-5  nav-item">
          <a class="nav-link "  [routerLink]="['/peinados']">Peinados</a>
        </li>
        <li class="p-3 mt-5 nav-item">
          <a class="nav-link" [routerLink]="['/cortes']">cortes</a>
        </li>
        <li class="p-3 mt-5 nav-item">
          <a class="nav-link" [routerLink]="['/tintes']">Tintes</a>
        </li>
        <li class="p-3 mt-5 nav-item">
          <a class="nav-link" [routerLink]="['/cuidados']">Cuidados</a>
        </li>
        <li class="p-3 mt-5 nav-item">
          <a class="nav-link" [routerLink]="['/maquillaje']">Maquillaje</a>
        </li>
      </ul>

      </div>
  </div>
</nav>
