<div class="ventana-emergente">
  <div class="btn-cerrar" (click)="close()">X</div>

  <h3>Carrito de compras</h3>
  <ul>
    <li *ngFor="let producto of carrito">
      <div>
        {{ producto.nombre }}
      </div>
      <div>
        $ {{ formatearPrecioProducto(producto.precio) }}
      </div>
    </li>
  </ul>
  <p>Total: $ {{ calcularTotal() | number: '1.0-0' }}</p>

  <!-- Botón para realizar la compra -->
  <button (click)="realizarCompra()">Pagar</button>
  <button (click)="cerrar()">Cancelar</button>

  <!-- Mensaje de compra realizada -->
  <br><br>
  <div *ngIf="compraRealizada" class="mensaje-compra">
    <img src="assets/img/cheque.png" alt="Chulito"> Compra realizada
  </div>
</div>

