<footer>
<div class="info2">
  <p class=" text-white">Siguenos en:<p>
</div>


<div class="row col-12 mt-0">
  <div class="col-6 offset-4 icon5 bg-azul mt-4 p-5 footer-pagina">
  <a href="https://es-la.facebook.com/nike/"><img class="social-icon"src="assets/img/whatsapp.png" alt=""></a>

  <a href="https://es-la.facebook.com/nike/"><img class="social-icon" src="assets/img/facebook.png" alt=""></a>
  <a href="https://twitter.com/adidasco?lang=es"><img class="social-icon" src="assets/img/youtube.png" alt=""></a>
  <a href="https://www.instagram.com/reebokcolombia/?hl=es-la"><img class="social-icon" src="assets/img/instagram.png" alt=""></a>
  <a href="videos.html"><img src="img/youtube.png" alt=""></a>
</div>
</div>
</footer>
