@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


h1{
   /*  margin-top: 5%; */
    font-family: 'Ephesis', cursive;
    /* font-weight: bold; */
}

p{
  font-family: 'Ephesis', cursive;
  font-size: 2rem;}


  .fas {

    font-size: 2rem;
    margin: 0 15px;
    cursor: pointer;
    transition: all .5;

  }

  .cuadrado{
    margin-top: 2rem;
    text-align: center;
    width: 95%;
    height: 95%;
    border: 3px solid #555;
    background: rgb(2,0,36);
    background: linear-gradient(158deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 86%);
    border-radius: 5%;
  }





