<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


<!-- cortes.component.html -->
<app-barradenavegacion></app-barradenavegacion>




  <div class="container mt-5 mb-5">
    <div class=" col-12 row">
      <div class="col-4">
        <img src="assets/img/trenzas.jpg"  alt="">
          <div class="fondo">
            <div class="titulo"> Trenzas</div>
            <p> Elegantes para cualquier ocasion </p>
          </div>
      </div>

   <!--  <div class="d-flex  row"> -->
      <div class="col-4"><iframe width="400" height="300" src="https://www.youtube.com/embed/ToHXepeky20"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>



        <div class="col-4"><iframe width="400" height="300" src="https://www.youtube.com/embed/rpBb_A-NMRI"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>

      </div>

        <div class="col-4"><iframe width="400" height="300" src="https://www.youtube.com/embed/9k4CPA19z_A"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

          <div class="col-4">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/5F47cNITbLc"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></div>
        </div>

      </div>
    </div>



   <!--  </div> -->


   <div class="container mt-5 mb-5">
    <div class=" col-12 row">
      <div class="col-4">
        <img src="assets/img/bucles.jpg"  >
        <div class="fondo">
          <div class="titulo"> Blucles </div>
          <p>ideales para lucir joven y fresca</p>
        </div>
      </div>


      <div class="col-4"><iframe width="400" height="300" src="https://www.youtube.com/embed/HHwIWc2ptnQ"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>



        <div class="col-4"><iframe width="400" height="300" src="https://www.youtube.com/embed/jSTwu5xpd_s"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>

      </div>

        <div class="col-4"><iframe width="400" height="300" src="https://www.youtube.com/embed/sZPpBiCbBnU"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

          <div class="col-4">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/mTdxLt49LgI"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></div>
        </div>

      </div>
    </div>


   <!--  </div> -->


  <div class="container mt-5 mb-5">
    <div class=" col-12 row">
      <div class="col-4">
        <img src="assets/img/coletas.jpg" >
      <div class="fondo">
        <div class="titulo"> Coletas </div>
          <p>Un look fresco y natural </p>
      </div>
      </div>

   <!--  <div class="d-flex  row"> -->
      <div class="col-4"><iframe width="400" height="300" src="https://www.youtube.com/embed/NMiQh75eaHs"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>



        <div class="col-4"><iframe width="400" height="300" src="https://www.youtube.com/embed/gz5-AJj3uzo"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>

      </div>

        <div class="col-4"><iframe width="400" height="300" src="https://www.youtube.com/embed/MCRq7czurUE"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

          <div class="col-4">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/h6ioY6n_dWg"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></div>
        </div>

      </div>
    </div>



    <app-piedepagina></app-piedepagina>





</body>
</html>
