<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"> <img class="foto" src="assets/img/logo_styles.png"  alt=""> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="p-3 mt-5  nav-item">
            <a class="nav-link "  [routerLink]="['/peinados']">Peinados</a>
          </li>
          <li class="p-3 mt-5 nav-item">
            <a class="nav-link" [routerLink]="['/cortes']">cortes</a>
          </li>
          <li class="p-3 mt-5 nav-item">
            <a class="nav-link" [routerLink]="['/tintes']">Tintes</a>
          </li>
          <li class="p-3 mt-5 nav-item">
            <a class="nav-link" [routerLink]="['/cuidados']">Cuidados</a>
          </li>
          <li class="p-3 mt-5 nav-item">
            <a class="nav-link" [routerLink]="['/maquillaje']">Maquillaje</a>
          </li>
        </ul>

        <!-- <ul class="nav justify-content-end">
          <nav class="nav">
            <a class="p-3 mt-5 nav-link" href="#">Link</a>
            <a class="p-3 mt-5 nav-link" href="#">Link</a>
          </nav>
        </ul> -->

      </div>
    </div>
  </nav>



  <div class="container-fluid d-flex text-center justify-content-between">
    <div class="row">
      <div class="col-4 "><img src="assets/img/fiestero.png" width="80%" alt=""></div>
      <div class="img2 col-4 offset-4 align-right"> <img src="assets/img/natural.jpg" width="80%" alt=""></div>
      <div class="col-4 "><img src="assets/img/Angel.jpg" width="80%" alt=""></div>
      <div class="img2 col-4 offset-4 align-self-end"> <img src="assets/img/boda.jpg" width="80%" alt=""></div>


    </div>

  </div>



  <footer >

    <div class="info2">
        <p class=" text-white">Siguenos en:<p>
    </div>


     <div class="row col-12 mt-0">
        <div class="col-6 offset-4 icon5 bg-azul mt-4 p-5 footer-pagina">
        <a href="https://es-la.facebook.com/nike/"><img src="assets/img/whatsapp.png" alt=""></a>
        <a href="https://twitter.com/adidasco?lang=es"><img src="asset/img/twitter.png" alt=""></a>
        <a href="https://es-la.facebook.com/nike/"><img src="assets/img/facebook.png" alt=""></a>
        <a href="https://twitter.com/adidasco?lang=es"><img src="assets/img/youtube.png" alt=""></a>
        <a href="https://www.instagram.com/reebokcolombia/?hl=es-la"><img src="assets/img/instagram.png" alt=""></a>
        <a href="videos.html"><img src="img/youtube.png" alt=""></a>
      </div>
    </div>
    </footer>



</body>
</html>
