@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
body{
  font-family: 'Ephesis', cursive;
  font-size: 2rem;
  background-image: url(../../../assets/img/fondo4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;

}
img{
  margin: 0;
  padding: 0;
  background-position: cover;

}



div.img2{
  float: right;
  margin-left: 33%;
}


