<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <!-- cortes.component.html -->
<app-barradenavegacion></app-barradenavegacion>



  <div class="container-fluid d-flex text-center justify-content-between">
    <div class="row">
      <div class="col-4 "><img src="assets/img/fiestero.png" width="80%" alt=""></div>
      <div class="img2 col-4 offset-4 align-right"> <img src="assets/img/natural.jpg" width="80%" alt=""></div>
      <div class="col-4 "><img src="assets/img/Angel.jpg" width="80%" alt=""></div>
      <div class="img2 col-4 offset-4 align-self-end"> <img src="assets/img/boda.jpg" width="80%" alt=""></div>


    </div>

  </div>



  <footer >
    <app-piedepagina></app-piedepagina>
  </footer>



</body>
</html>
